@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700");

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;

$secondaryColor: #000;
$grayColor: #939292;
$greenColor: #30CC37;
$orangeColor: #EC652C;
@import "fonts.scss";
@import "reset.scss";
@import 'mixins.scss';
@import 'icons.scss';
@import 'forms.scss';
@import 'swiper.scss';
@import "ui.scss";
@import "ibg.scss";
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';


body {
	color: #2B2A29;
	font-size: 14px;
	font-family: "Montserrat";
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}

.page {
	flex: 1 1 auto;
	// padding: 0px 0px 0px 0px;
}