// .btn {
// 	display: inline-flex;
// 	align-items: center;
// 	justify-content: center;
// 	min-height: 39px;
// 	background-color: #f68038;
// 	font-size: 12px;
// 	line-height: 18px;
// 	font-weight: 900;
// 	text-transform: uppercase;
// 	color: #fff;
// 	padding: 0px 21px;
// 	transition: all 0.3s ease 0s;
// 	@media (min-width: $md2+px) {
// 		&:hover {
// 		}
// 	}
// }

// .rub:after {
// 	content: "\20BD";
// }
// %graystyle {
// 	transition: all 0.3s ease 0s;
// 	filter: grayscale(1);
// 	-webkit-filter: grayscale(1);
// 	-moz-filter: grayscale(1);
// 	-o-filter: grayscale(1);
// }
// %graystyleoff {
// 	filter: grayscale(0);
// 	-webkit-filter: grayscale(0);
// 	-moz-filter: grayscale(0);
// 	-o-filter: grayscale(0);
// }


//! шахматная доска при помощи border
//! оболочка
// ul {
// 	border-top: 1px solid #444;
// 	border-left: 1px solid #444;
// }
//! дети
// li {
// 	border-right: 1px solid #444;
// 	border-bottom: 1px solid #444;
// }


.btn {
	position: relative;
	background-color: $orangeColor;
	display: inline-flex;
	position: relative;
	flex-direction: row-reverse;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 60px;
	color: #fff;
	font-size: 10px;
	padding: 0px 45px;
	letter-spacing: 0.05em;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;
	@media (min-width: $md2+px) {
		&:hover {
			color: $orangeColor;
			background-color: #fff;
			border-color: $orangeColor;
			// &::after {
			// 	top: 7px;
			// 	left: 7px;
			// }
		}
	}
	&::before {
		margin: 0px 0px 0px 15px;
	}
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	transition: all 0.3s ease 0s;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	border: 1px solid $orangeColor;
	// 	background-color: transparent;
	// }
}